src/main/resources/pokemon.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.by.com/pokemonapi/wsdl"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.by.com/pokemonapi/wsdl" 
    targetNamespace="http://www.by.com/pokemonapi/wsdl">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.by.com/pokemonapi/wsdl">
            
             <xs:element name="getPokemonIdRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="name" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="getPokemonIdResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id" type="xs:int" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            
            <xs:element name="getPokemonNameRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="name" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="getPokemonNameResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="name" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            
            <xs:complexType name="abilityList">
			    <xs:sequence>
			        <xs:element name="ability" type="tns:ability" maxOccurs="unbounded"/>			        
			    </xs:sequence>    
			</xs:complexType>

            <xs:complexType name="ability">
                <xs:sequence>
                    <xs:element name="name" type="xs:string" />
                    <xs:element name="url" type="xs:string" /> 
                    <xs:element name="is_hidden" type="xs:string" />
                	<xs:element name="slot" type="xs:int" />             
                </xs:sequence>
            </xs:complexType>
            
             <xs:complexType name="held_items">
			    <xs:sequence>
			        <xs:element name="held_items" type="tns:held_itemsList" maxOccurs="unbounded"/>			        
			    </xs:sequence>    
			</xs:complexType>
            
            <xs:complexType name="held_itemsList">
			    <xs:sequence>
			        <xs:element name="item" type="tns:item"/>	
			        <xs:element name="version_details" type="tns:version_detailsList" maxOccurs="unbounded"/>			        
			    </xs:sequence>    
			</xs:complexType>
			
			<xs:complexType name="item">
                <xs:sequence>
                    <xs:element name="name" type="xs:string" />
                    <xs:element name="url" type="xs:string" />             
                </xs:sequence>
            </xs:complexType>
            
            <xs:complexType name="version_detailsList">
			    <xs:sequence>
			        <xs:element name="rarity" type="xs:string" />	
			        <xs:element name="version_name" type="xs:string"/>	
			        <xs:element name="version_url"  type="xs:string"/>		        
			    </xs:sequence>    
			</xs:complexType>

            <xs:element
                    name="getPokemonResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="list_pokemon"
                                    type="tns:list_pokemon" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:complexType name="list_pokemon">
                <xs:sequence>
                    <xs:element name="count" type="xs:int" />
                    <xs:element name="next" type="xs:string" />
                    <xs:element name="previous" type="xs:string" />
                    <xs:element name="results" maxOccurs="unbounded">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="name" type="xs:string" />
                                <xs:element name="url" type="xs:string" />
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>

            <xs:element name="getPokemonRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="inicio" type="xs:long" />
                        <xs:element name="limite" type="xs:long" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            
        </xs:schema>
    </wsdl:types>
    

    
    <wsdl:message name="getPokemonIdRequest">
        <wsdl:part element="tns:getPokemonIdRequest" name="getPokemonIdRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getPokemonIdResponse">
        <wsdl:part element="tns:getPokemonIdResponse" name="getPokemonIdResponse">
        </wsdl:part>
    </wsdl:message>
    
    <wsdl:message name="getPokemonNameRequest">
        <wsdl:part element="tns:getPokemonNameRequest" name="getPokemonNameRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getPokemonNameResponse">
        <wsdl:part element="tns:getPokemonNameResponse" name="getPokemonNameResponse">
        </wsdl:part>
    </wsdl:message>

    <wsdl:message name="getPokemonRequest">
        <wsdl:part element="tns:getPokemonRequest" name="getPokemonRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getPokemonResponse">
        <wsdl:part element="tns:getPokemonResponse" name="getPokemonResponse">
        </wsdl:part>
    </wsdl:message>

    <wsdl:portType name="PokemonPort">
        
        <wsdl:operation name="getId">
            <wsdl:input message="tns:getPokemonIdRequest" name="getPokemonIdRequest">
            </wsdl:input>
            <wsdl:output message="tns:getPokemonIdResponse" name="getPokemonIdResponse">
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="getName">
            <wsdl:input message="tns:getPokemonNameRequest" name="getPokemonNameRequest">
            </wsdl:input>
            <wsdl:output message="tns:getPokemonNameResponse" name="getPokemonNameResponse">
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="get_list_pokemon">
            <wsdl:input message="tns:getPokemonRequest" name="getPokemonRequest">
            </wsdl:input>
            <wsdl:output message="tns:getPokemonResponse" name="getPokemonResponse">
            </wsdl:output>
        </wsdl:operation>
        
    </wsdl:portType>
    <wsdl:binding name="PokemonPortSoap11" type="tns:PokemonPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        
        <wsdl:operation name="getId">
            <soap:operation soapAction="" />
            <wsdl:input name="getPokemonIdRequest">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="getPokemonIdResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="getName">
            <soap:operation soapAction="" />
            <wsdl:input name="getPokemonNameRequest">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="getPokemonNameResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="get_list_pokemon">
            <soap:operation soapAction="" />
            <wsdl:input name="getPokemonRequest">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="getPokemonResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="PokemonPortPortService">
        <wsdl:port binding="tns:PokemonPortSoap11" name="PokemonPortSoap11">
            <soap:address location="http://localhost:8080/ws" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>